html {
  background-color: black;
}

#gameDialogue {
  position: relative;
  text-align: center;
  margin-top: 175px;
  margin-bottom: 50px;
  font-size: 50px;
  color: white;
}

.buttonsContainer {
  text-align: center;
  /* margin-top: 25%; */
}

.button {
  color: white;
  width: 260px;
  height: 70px;
  margin-left: auto;
  margin-right: 15px;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  padding: 15px 15px 15px 15px;
}

#rock {
  background-color: rgb(0, 183, 255);
}

#paper {
  background-color: darkgreen;
}

#scissors {
  background-color: coral;
}
